
	<footer>

		<div class="footerLinks">
			<ul class="siteFooter">
				<li class="copyright"> <p> &copy; Niner Book Trade </p> </li>
				<li> <a  href="#"> About </a> </li>
				<li > <a  href="#"> Contact </a> </li>
			</ul>
		</div>
		
	</footer>

</body>
</html>