<%- include('../partials/header.ejs')%>
<article class="tradesMain" >
   
   
    <% if(trades[0].length){ %> 

        <!-- <h1> Refurbished  <%= trades %> </h1> -->
        <div class="headphonesGrid">
            <div class="grid-container-headphones">
        
       <% }); %>
</div>
</div> 
<% }else{ %>
            <p> There are no stories to display. </p>
    
        <%  } %>
<br>

</article>
<%- include('../partials/footer.ejs')%>
